body {
  background-color: lightblue
}

img {
  width: 300px
}

h1 {
  font-weight: bold;
  border-style: solid;
  border-color:cornflowerblue; 
  color: white
  
}

li {
  font-weight: bold;
  font-size: 20px
  
}
h2{
  color: #265ec3;
}





  
  
    
  
